html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img { border:none;}
img{display: block;}
address, caption, cite, code, dfn, th, var{ font-style:normal; font-weight:normal;}
ul, ol { list-style:none; }
body { color:#333; font:16px/24px "SimSun","宋体","Arial Narrow",HELVETICA; background:#fff;}
a { color:#666; text-decoration:none;}
a:visited { color:#666;}
a:hover, a:active, a:focus { color:#ff8400;}
.bgred{background-color: red;}
.bgblue{background-color: blue;}
.container{width: 1100px;margin:0 auto;}
/*
 *头部
 * */
#head-box{
	width:100%px;
	height:82px;
	background:#333;
	padding-top:11px;
}
#head-main-box{
	position: relative;
	width:1200px;
	height:82px;
	margin:0 auto;
	margin-bottom:11px;
	margin-left:auto;
}
.head-list{
	width:400px;
	height:35px;
}
.head-list li{
 position: relative;
 float:left;
 width:100px;
 height:35px;
 margin-right:2px;
}
/*移除*/
.head-list .goods-bag{
	background:url(../img/spriter2016.png) no-repeat -215px -40px;
}

.head-list .redx{
	color:#f78407;
}

/*移入*/
.head-list .goods-bag2{
	background:#fff;
}
.head-list .new-bag2{
	width:90px;
	height:35px;
	display: inline-block;
	color:red;
	text-align: right;
	padding-right:10px;
	background:url(../img/spriter2016.png) no-repeat -215px -75px;
}
.head-list .my-bag{
	text-align: center;
    line-height: 66px;
	display:none;
	width:296px;
	height:66px;
	background:#fff;
	position:absolute;
	top:35px;
	left:0;
	z-index: 10;
	border:1px solid #e5e4e4;
	border-top:0;
}
/*a标签*/
.head-list li a{
	width:63px;
	height:35px;
	float:right;
	font-size: 12px;
	color:#bfbfbf;
	text-align: center;
	line-height: 35px;
}
.head-list li .logined{
	width:160px;
	height:35px;
}
/*我的走秀*/
.head-list .myxiu2{
	background:#fff;
}
.head-list .my-xiu{
	width:80px;
	height:35px;
	display: inline-block;
	color:#bfbfbf;
	text-align: left;
	padding-left:20px;
	background:url(../img/spriter2016.png) no-repeat right -110px;
}
.head-list .my-xiu2{
	width:80px;
	height:35px;
	color:red;
	display: inline-block;
	text-align: left;
	padding-left:20px;
	background:url(../img/spriter2016.png) no-repeat right -145px;
}
.head-list .my-list-xiu{
	width:100px;
	height:135px;
	position: absolute;
    left:0px;
    top:35px;
    z-index: 10;
    background:#fff;
    display:none;
}
.head-list .my-list-xiu li{
	width:85px;
	height:27px;
	padding-right:15px;
}
.head-list .my-list-xiu li a{
	text-align: left;
	color:#000;
	line-height:14px;
	
}
/*log*/
#logo-box{
	width:212px;
	height:32px;
    position: absolute;
    top:0;
    left:500px;
    background:url(../img/spriter2016.png) no-repeat 0 0;
}
/*搜索*/
#search{
	position:absolute;
	right:20px;
	top:0;
	width:260px;
	height:28px;
	border:1px solid #787878;	
}
#search a{
	float:right;
	width:30px;
	height:26px;
	background:url(../img/spriter2016.png) 0 -42px;
}
#search input{
	width:230px;
	height:26px;
	border:0;
	outline:0;
	float: left;
	background:#333333;
	color:#D7D7D7;
}
/*导航*/
#nav{
	width:100%;
	height:34px;
	margin-top:3px;
	padding-top:10px;
	padding-left:300px;
}

#nav-list li{
	text-align: center;
	float:left;
}
#nav-list li a{
	color:#eeeeee;
	font-weight: 600;
	height:20px;
	padding:12px 15px 10px;
	margin: 0 6px;
	font-size: 15px;
}
#nav-list li .cred{
	color:#fc0000;
}
#nav-list li .cbor{
	border-bottom:2px solid #727071;
}
#nav-list li a:hover{
	color:#bfbfbf;
	border-bottom:2px solid #727071;
}
/*选项卡*/
#tab{
	width:100%;
	height:42px;
}
#tab-box{
	width:1200px;
	height:42px;
	margin:0 auto;
}
#tab-list{
	padding-left:100px;
	width:720px;
	height:42px;
	margin:0 auto;
}
#tab-list li{
	border:2px solid #fff;
	padding-right:10px;
	float:left;
	width:58px;
	height:40px;
	text-align: center;
	line-height: 40px;
}
#tab-list li a{
	color:#000;
	font-size: 12px;
}
.tab-list-box{
	position:absolute;
	display:none;
	width:693px;
	height:408px;
	border:1px solid #d7d7d7;
	background:#fff;
	padding:14px 37px 15px 15px;
}
.box-left{
	width:452px;
	height:409px;
	
	float:left;
}
.box-right{
	width:210px;
	height:409px;	
	float:right;
}
/*左边*/
.bl-t{
	width:452px;
	border-bottom:1px dashed #959595;
}
.bl-t a{
	font-size:12px;
	color:#000;
	line-height: 18px;
}
.bl-t h3 a{
	font-size:12px;
	color:#000087;
	line-height: 18px;
}
/*右边*/
/*右边左半部*/
.br-l{
	width:110px;
	height:409px;
	float:left;
	
}
.br-l h3 a{
	font-size:12px;
	color:#000087;
	line-height: 8px;
}
#hot-list a{
	font-size:14px;
	line-height:14px;
	color:#000;
}
/*右边右半部*/
.br-r{
	padding-top:24px;
	width:100px;
	height:385px;
	float:right;
	
}
.br-r a{
	font-size:14px;
	color:#000;
	line-height:14px;
}




